@charset "utf-8" ;

body{
	background: url("../bilder/oslo1.jpg")no-repeat center center fixed;
	background-size: 100%;
	position: relative;
	}

	#logo{
		position: absolute;
		left: 400px;
		margin-top: 150px;
	}


	#top, #bottom, #left, #right{
		background-color: rgb(174, 198, 207);
		position: fixed;
		opacity: 0.8;

	}
	#left, #right{
		top: 0;
		bottom: 0;
		width: 15px;
	}
	#left {left: 0;}
	#right {right: 0;}

	#top, #bottom{
		left: 0; right: 0;
		height: 15px;
	}
	#top {top: 0;}
	#bottom {bottom: 0;}

	#norge{
		position: absolute;
		height: 200px;
		width: 200px; 
		margin-top: 300px;
		right: 450px;
		border-radius: 50%;
		border: 3px solid white;
		-webkit-transition: all 1s ease;
		-webkit-transition-duration: 0.2s;
		-webkit-transition-timing-function: linear;
		-webkit-transition-delay: 0s;
	}

	#norge:hover{
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
    transition: background 0.2s, color 0.2s;   
    height: 202px;
	width: 202px;
	}	

	#uk{
		position: absolute;
		height: 200px;
		width: 200px;
		margin-top: 300px;
		right: 750px;
		border-radius: 50%;
		border: 3px solid white;
		-webkit-transition: all 1s ease;
		-webkit-transition-duration: 0.2s;
		-webkit-transition-timing-function: linear;
		-webkit-transition-delay: 0s;
		
	}

	#uk:hover{
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
    transition: background 0.2s, color 0.2s;
	height: 202px;
	width: 202px;
	}

	h1{
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		display: block;
		position: absolute;
		margin-left: 30%;
		margin-top: 10%;
		font-size: 5em;
		color: white;
		-webkit-transition-property: all;
		-webkit-transition-duration: 0.2s;
		-webkit-transition-timing-function: linear;
		-webkit-transition-delay: 0s;
	}

	h1:hover{
		color: rgb(178, 34, 35);


	}

