@charset "utf-8" ;

body{
	background-image: url("../pictures/kart.png");
	background-repeat: no-repeat;
	/*border: 32px solid rgba(0,0,0,0.7);*/
	margin : 0;
	background-color: black;
	}
	/*Felles klasse for alle knappene*/


	#bg {
		position: relative;
	}


	.knapper a{
		height: 15px;
		width: 15px;
		background-color: red;
		position: absolute;
		border-radius: 50px;
		-webkit-transition: all 0.5s;
		margin: 0;
		
	}

	#box{
		background-color:gray;
		height: 400px;
		width: 600px;	
		position: absolute;
		left: 30%;	
		top: 300px;	
	
		
	}
	#knapp1:target #box{		

	}
	

	.knapper:target ~ .knapper{
		opacity: 0;
	}
	h4{
		opacity: 0;
		-webkit-transition: all 1s;
		left: 100px;
		position: relative;
		margin:0;
		display:none;
	}

	.knapper:target h4{
		opacity: 1;
		display:block;
	}

	.bilder{
		opacity: 0;
		margin-left: 30px;
		-webkit-transition: all 1s;
		border: 2px solid black;
		position: absolute;
		display: none;	
		background-color: white;
	}
	.knapper:target .bilder{
		opacity: 1;
		-webkit-transition: all 1s;
		display: block;
	}
	img{
		height: 200px;
	}
	.tekstfelt{
		right: 20px;
		top: 20px;
		position: absolute;
		border: 2px solid black;
		opacity: 0;
		

	}
	.knapper:target .tekstfelt{
		opacity: 1;
		-webkit-transition: all 1s;
		background-color: white;
		height: 400px;
		width: 430px;
	}
	h5{
		display:none;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	.knapper:target h5{
		display: block;
		-webkit-transition: all 1s;
	}

	#bildetekst{
		font-size: 20px;
		bottom: 200px;
		left: 0;
		margin-left: 30px;
		opacity: 0;
		position: absolute;
		display: none;
	}
	.knapper:target #bildetekst{
		opacity: 1;
		display:block;
		-webkit-transition: all 1s;
	}
	#sidebar{
		height: 500px;
		width: 20px;
		background-color: white;
		position: absolute;
		right: 0;
		top: 200px;
		-webkit-transition: all 1s;

	}
	#sidebar:target{
		width: 200px;
		-webkit-transition: all 1s;
	}
	.lenker{
		opacity: 0;
	}
	#sidebar:target .lenker{
		opacity: 1;
		-webkit-transition: all 1s;
	}

/*----------------------------------------------------------------------------------------------*/


	#knapp1 a{
		left: 730px;
		top: 380px;
	}

	#knapp2{
		left: 1040px;
		top: 650px;
	}

